<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/layout/layout :: layout(~{::title}, ~{::section})">

<head>
    <title>Nhà cung cấp</title>
</head>

<body>
<section>
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/category">Nhà cung cấp</a>
            </li>
            <li class="breadcrumb-item active">Thêm mới</li>
        </ol>

        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Thông tin chung</div>
            <div class="card-body">
                <form action="#" th:action="@{/admin/supply/{id}(id=${item.id})}" th:object="${item}"
                      method="post">
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" th:field="*{supplyName}" id="inputCategoryName" class="form-control"
                                   placeholder="Tên nhà cung cấp" maxlength="225" required="required">
                            <label for="inputCategoryName">Tên Nhà cung cấp</label>
                            <span th:if="${#fields.hasErrors('supplyName')}" th:errors="*{supplyName}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <input type="email" th:field="*{email}" maxlength="225" id="inputEmail" class="form-control"
                                   placeholder="Email" required="required">
                            <label for="inputEmail">Email</label>
                        </div>
                        <div class="form-label-group">
                            <input type="number" th:field="*{phone}" maxlength="12" id="inputPhone" class="form-control"
                                   placeholder="Số điện thoại" required="required">
                            <label for="inputPhone">Số điện thoại</label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" th:field="*{address}" maxlength="225" id="inputAddress"
                                   class="form-control"
                                   placeholder="Địa chỉ" required="required">
                            <label for="inputAddress">Địa chỉ</label>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-block" type="submit">Lưu</a>
                </form>

            </div>
        </div>
    </div>
</section>

</body>

</html>