<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="user/layout/layout :: layout(~{::title}, ~{::main}, ~{::scriptSection})">
<head>
    <title>Danh sách sản phẩm</title>

</head>

<body>

<!-- =======================
Main hero START -->
<main>
    <!-- START SECTION BREADCRUMB -->
    <div class="breadcrumb_section bg_gray page-title-mini">
        <div class="container">
            <!-- STRART CONTAINER -->
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-title">
                        <h1>Sản phẩm</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb justify-content-md-end">
                        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                        <li class="breadcrumb-item active">Sản phẩm</li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <!-- END SECTION BREADCRUMB -->

    <!-- START MAIN CONTENT -->
    <div class="main_content">

        <!-- START SECTION SHOP -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row align-items-center mb-4 pb-1">
                            <div class="col-12">
                                <div class="product_header">

                                    <div class="product_header_right">
                                        <!--<div class="products_view">
                                            <a href="javascript:Void(0);" class="shorting_icon grid active"><i
                                                    class="ti-view-grid"></i></a>
                                            <a href="javascript:Void(0);" class="shorting_icon list"><i
                                                    class="ti-layout-list-thumb"></i></a>
                                        </div>-->
                                        <div class="custom_select">
                                            <select class="form-control form-control-sm">
                                                <option value="">Xem</option>
                                                <option value="9">9</option>
                                                <option value="12">12</option>
                                                <option value="18">18</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row shop_container grid">
                            <div class="col-lg-3 col-md-4 col-6" th:each="product : ${products}">
                                <div class="product">
                                    <div class="product_img">
                                        <a th:href="@{/products/detail/{id}(id=${product.id})}">
                                            <img th:src="@{/files/{image}(image=${product.image})}"
                                                 alt="product_img1">
                                        </a>
                                        <div class="product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a type="button"
                                                                           th:onclick="|addToCart('${product.id}')|"><i
                                                        class="icon-basket-loaded"></i> Thêm giỏ hàng</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_info">
                                        <h6 class="product_title"><a
                                                th:href="@{/products/detail/{id}(id=${product.id})}"
                                                th:text="${product.productName}"></a></h6>
                                        <div class="product_price">
                                            <span class="price"
                                                  th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}"></span>

                                        </div>
                                        <!--	<div class="rating_wrap">
                                            <div class="rating">
                                                <div class="product_rate" style="width:80%"></div>
                                            </div>
                                            <span class="rating_num">(21)</span>
                                        </div>-->
                                        <div class="pr_desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                                blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                        </div>
                                        <div class="pr_switch_wrap">
                                            <div class="product_color_switch">
                                                <span class="active" data-color="#87554B"></span>
                                                <span data-color="#333333"></span>
                                                <span data-color="#DA323F"></span>
                                            </div>
                                        </div>
                                        <div class="list_product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a type="button"><i
                                                        class="icon-basket-loaded"></i> Thêm vào giỏ hàng</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <ul class="pagination mt-3 justify-content-center pagination_style1">
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><i
                                            class="linearicons-arrow-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SECTION SHOP -->

        <!-- START SECTION SUBSCRIBE NEWSLETTER -->

        <!-- START SECTION SUBSCRIBE NEWSLETTER -->

    </div>
    <!-- END MAIN CONTENT -->
</main>


<!-- =======================
Cards END -->
</body>
<scriptSection>
    <script>
        $(document).ready(function () {

        });

        function addToCart(productId) {
            var colorId;
            var sizeId;
            $('div.product_color_switch span').each(function () {
                if ($(this).hasClass('active')) {
                    colorId = $(this).attr('id');
                }
            });
            $('div.product_size_switch span').each(function () {
                if ($(this).hasClass('active')) {
                    sizeId = $(this).attr('id');
                }
            });
            var quantity = $("#quantity").val();
            console.log(productId, colorId, sizeId, quantity);
            $.get("/cart/buy/" + productId + "/" + colorId + "/" + sizeId + "/" + quantity, function (data) {
                alert('Thêm sản phẩm vào giỏ hàng thành công');
                window.location.href = "/cart";
            });

        }
    </script>
</scriptSection>
</html>