<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="user/layout/layout :: layout(~{::title}, ~{::main}, ~{::scriptSection})">
<head>
    <title>Chi tiết sản phẩm</title>

</head>

<body>

<main>
    <!-- START SECTION BREADCRUMB -->
    <div class="breadcrumb_section bg_gray page-title-mini">
        <div class="container">
            <!-- STRART CONTAINER -->
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-title">
                        <h1>Chi tiết sản phẩm</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb justify-content-md-end">
                        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Chi tiết sản phẩm</li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <!-- END SECTION BREADCRUMB -->

    <!-- START MAIN CONTENT -->
    <div class="main_content">

        <!-- START SECTION SHOP -->
        <div class
        ="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <div class="product-image">
                        <div class="product_img_box">
                            <img id="product_img" th:src="@{/files/{image}(image=${product.image})}"
                                 th:data-zoom-image="@{/files/{image}(image=${product.image})}"
                                 alt="product_img1"/>
                            <a href="#" class="product_img_zoom" title="Zoom">
                                <span class="linearicons-zoom-in"></span>
                            </a>
                        </div>
                        <!--<div id="pr_item_gallery" class="product_gallery_item slick_slider"
                            data-slides-to-show="4" data-slides-to-scroll="1" data-infinite="false">
                            <div class="item">
                                <a href="#" class="product_gallery_item active"
                                    data-image="assets/images/product_img1.jpg"
                                    data-zoom-image="assets/images/product_zoom_img1.jpg">
                                    <img src="assets/images/product_small_img1.jpg" alt="product_small_img1" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" class="product_gallery_item"
                                    data-image="assets/images/product_img1-2.jpg"
                                    data-zoom-image="assets/images/product_zoom_img2.jpg">
                                    <img src="assets/images/product_small_img2.jpg" alt="product_small_img2" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" class="product_gallery_item"
                                    data-image="assets/images/product_img1-3.jpg"
                                    data-zoom-image="assets/images/product_zoom_img3.jpg">
                                    <img src="assets/images/product_small_img3.jpg" alt="product_small_img3" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="#" class="product_gallery_item"
                                    data-image="assets/images/product_img1-4.jpg"
                                    data-zoom-image="assets/images/product_zoom_img4.jpg">
                                    <img src="assets/images/product_small_img4.jpg" alt="product_small_img4" />
                                </a>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="pr_detail">
                        <div class="product_description">
                            <h4 class="product_title"><a th:href="@{/products/detail/{id}(id=${product.id})}"
                                                         th:text="${product.productName}">Blue Dress For Woman</a></h4>
                            <div class="product_price">
                                <span class="price"
                                      th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}">$45.00</span>

                            </div>

                            <div class="pr_desc">
                                <br/>
                                <br/>

                            </div>
                            <div class="product_sort_info">
                                <ul>
                                    <li><i class="linearicons-shield-check"></i> Bảo hành chất lượng 1 năm</li>
                                    <li><i class="linearicons-sync"></i> Chính sách hoàn trả trong 30 ngày</li>
                                    <li><i class="linearicons-bag-dollar"></i> Xem hành trước khi trả tiền</li>
                                </ul>
                            </div>
                            <div class="pr_switch_wrap">
                                <span class="switch_lable">Màu sắc</span>
                                <div class="product_color_switch">
                                    <span th:each="color,iter : ${product.colors}"
                                          th:classappend="${iter.index == 0} ? active : ''" th:id="${color.id}"
                                          th:data-color="${color.colorName}"></span>
                                </div>
                            </div>
                            <div class="pr_switch_wrap">
                                <span class="switch_lable">Size</span>
                                <div class="product_size_switch">
                                    <span th:each="size,iter : ${product.sizes}"
                                          th:classappend="${iter.index == 0} ? active : ''" th:id="${size.id}"
                                          th:text="${size.sizeName}"></span>
                                </div>
                            </div>
                        </div>
                        <hr/>
<!--                        <class-->
<!--                        ="cart_extra">-->
                        <div class="cart-product-quantity">
                            <div class="quantity">
                                <input type="button" value="-" class="minus">
                                <input type="text" name="quantity" th:max="${product.quantity} - ${soluong}" min="0"
                                       oninput="checkValue(this);"
                                       onkeypress="return ((event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57)))"
                                       value="1" title="Qty" class="qty" id="quantity"
                                       size="4">
                                <input type="button" value="+" class="plus">
                                Còn <label th:text="${product.quantity}"></label> sản phẩm
                            </div>

                        </div>

                        <div class="cart_btn">
                            <button class="btn btn-fill-out btn-addtocart" type="button"
                                    th:onclick="|addToCart('${product.id}')|"><i
                                    class="icon-basket-loaded"></i> Thêm vào giỏ hàng
                            </button>
                            <!--	<a class="add_compare" href="#"><i class="icon-shuffle"></i></a>
                                <a class="add_wishlist" href="#"><i class="icon-heart"></i></a>-->
                        </div>
                    </div>
                    <hr/>
                    <ul class="product-meta">
                        <!--<li>SKU: <a href="#">BE45VGRT</a></li>-->
                        <li>Danh mục: <a th:href="@{/products/{categoryId}(categoryId=${product.id})}"
                                         th:text="${product.category.categoryName}">Clothing</a></li>
                        <!--<li>Tags: <a href="#" rel="tag">Cloth</a>, <a href="#" rel="tag">printed</a> </li>-->
                    </ul>

                    <div class="product_share">
                        <span>Chia sẻ:</span>
                        <ul class="social_icons">
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="large_divider clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-style3">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="Description-tab" data-toggle="tab"
                               href="#Description" role="tab" aria-controls="Description"
                               aria-selected="true">Mô tả</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link" id="Additional-info-tab" data-toggle="tab"
                                href="#Additional-info" role="tab" aria-controls="Additional-info"
                                aria-selected="false">Additional info</a>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link" id="Reviews-tab" data-toggle="tab" href="#Reviews"
                               role="tab" aria-controls="Reviews" aria-selected="false">Bình luận</a>
                        </li>
                    </ul>
                    <div class="tab-content shop_info_tab">
                        <div class="tab-pane fade show active" id="Description" role="tabpanel"
                             aria-labelledby="Description-tab" th:utext="${product.description}">

                        </div>
                        <!--<div class="tab-pane fade" id="Additional-info" role="tabpanel"
                            aria-labelledby="Additional-info-tab">
                            <table class="table table-bordered">
                                <tr>
                                    <td>Capacity</td>
                                    <td>5 Kg</td>
                                </tr>
                                <tr>
                                    <td>Color</td>
                                    <td>Black, Brown, Red,</td>
                                </tr>
                                <tr>
                                    <td>Water Resistant</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>Material</td>
                                    <td>Artificial Leather</td>
                                </tr>
                            </table>
                        </div>-->
                        <div class="tab-pane fade" id="Reviews" role="tabpanel"
                             aria-labelledby="Reviews-tab">
                            <div class="comments">
                                <!--<h5 class="product_tab_title">2 Review For <span>Blue Dress For Woman</span>-->
                                </h5>
                                <ul class="list_none comment_list mt-4">
                                    <li th:each="comment : ${product.comments}">

                                        <div class="comment_block">

                                            <p class="customer_meta">
                                                <span class="review_author" th:text="${comment.user.username}">Alea Brooks</span>
                                                <span class="comment-date"
                                                      th:text="${#dates.format(comment.createdAt, 'dd-M-yyyy')}">March 5, 2018</span>
                                            </p>
                                            <div class="description">
                                                <p th:text="${comment.content}">Lorem Ipsumin gravida nibh vel velit
                                                    auctor aliquet.
                                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi
                                                    elit consequat ipsum, nec sagittis sem nibh id elit.
                                                    Duis sed odio sit amet nibh vulputate</p>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="review_form field_form">
                                <h5>Thêm bình luận</h5>
                                <form class="row mt-3" method="post"
                                      th:action="@{/comment/{productId}(productId=${product.id})}"
                                      th:object="${comment}">

                                    <div class="form-group col-12">
													<textarea required="required" placeholder="Bình luận của bạn *"
                                                              th:field="*{content}"
                                                              class="form-control" rows="4"></textarea>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input required="required" placeholder="Nhập họ tên *" th:field="*{name}"
                                               class="form-control" type="text">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input required="required" placeholder="Nhập Email của bạn *"
                                               class="form-control" th:field="*{email}" type="email">
                                    </div>

                                    <div class="form-group col-12">
                                        <button type="submit" class="btn btn-fill-out" name="submit"
                                                value="Submit">Gửi bình luận
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="small_divider"></div>
                <div class="divider"></div>
                <div class="medium_divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="heading_s1">
                    <h3>Sản phẩm liên quan</h3>
                </div>
                <div class="releted_product_slider carousel_slider owl-carousel owl-theme" data-margin="20"
                     data-responsive='{"0":{"items": "1"}, "481":{"items": "2"}, "768":{"items": "3"}, "1199":{"items": "4"}}'>
                    <div class="item" th:each="product: ${product.category.products}">
                        <div class="product">
                            <div class="product_img">
                                <a th:href="@{/products/detail/{id}(id=${product.id})}">
                                    <img th:src="@{/files/{image}(image=${product.image})}" alt="product_img1">
                                </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li class="add-to-cart"><a href="#"><i
                                                class="icon-basket-loaded"></i> Thêm vào giỏ hàng</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a th:href="@{/products/detail/{id}(id=${product.id})}"
                                                             th:text="${product.productName}"></a></h6>
                                <div class="product_price">
                                    <span class="price"
                                          th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}">$45.00</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script type="text/javascript">
        function int(value) {
            return parseInt(value);
        }

        function checkValue(sender) {
            let min = sender.min;
            let max = sender.max;
            let value = int(sender.value);
            if (value > max) {
                sender.value = max;
            } else if (value < min) {
                sender.value = max;
            }
        }
    </script>
</main>

</body>
<scriptSection>
    <script>
        $(document).ready(function () {

        });
    //Hàm thêm sản phẩm vào giỏ
        function addToCart(productId) {
            var colorId;
            var sizeId;
            $('div.product_color_switch span').each(function () {
                if ($(this).hasClass('active')) {
                    colorId = $(this).attr('id');
                }
            });
            $('div.product_size_switch span').each(function () {
                if ($(this).hasClass('active')) {
                    sizeId = $(this).attr('id');
                }
            });
            var quantity = $("#quantity").val();
            console.log(productId, colorId, sizeId, quantity);
            $.get("/cart/buy/" + productId + "/" + colorId + "/" + sizeId + "/" + quantity, function (data) {
                alert('Thêm sản phẩm vào giỏ hàng thành công');
                window.location.href = "/cart";
            });
        }


    </script>
</scriptSection>

<!-- Mirrored from blogzine.webestica.com/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Nov 2021 07:27:35 GMT -->

</html>